@media only screen and (max-width:1400px){
    /* web */
    .webCon{width: 100%;}

    /* content */
    .galleryBox{width: 100%;}
}


@media only screen and (max-width:1280px){}


@media only screen and (max-width:980px){
    body{font-size: 14px;}
    header{height: 70px;line-height: 70px; padding: 0 20px;}
    #subWrap section{padding: 50px 20px;min-height: auto;}

    /* main */
    .mainTxt h2{font-size: 5em;}
    .mainTxt .num{font-size: 1.9em;}
    .hoverTxt{margin-top: 7px;}
    .mainCon article .hoverTxt p{bottom:0;color:#000}
    .mainCon article .hoverTxt p:after{bottom:0}
    .mainCon article .subTxt{height:50px;transform:translateY(0)}

    /* about */
    #about{padding: 0 20px;}
    #about .aboutInfo{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;align-content: center;}
    #about .aboutInfo li{margin-bottom: 7px;flex: 1 1 40%;padding: 9px 0;}
    #about .infoBox{margin-top: 30px;}
    #about .infoBox .tit{font-size: 1.2em;}
    #about .infoBox .info li{margin-bottom: 20px;font-size: 1em;}
    #about .infoBox .info li span{display: block;}
    #about .infoBox .info li span.txt{position: relative;padding-left: 23px;}
    #about .infoBox .info li span.txt::before{display: block;content: '';width: 4px;height: 4px;background-color: #fff;border-radius: 50%;position: absolute;top: 11px;left: 11px;}
    .webBox .imgBox:after{bottom: 0;height: 50%;}
    .webBox .imgBox img{width: 100%; height: auto;}
    .webBox .txtBox{width: calc(100% - 40px);left: 20px;bottom: 22px;}
    .webBox .txtBox .tit{width: 100%;text-overflow: ellipsis;overflow:  hidden; white-space: nowrap;}
    .webBox .txtBox .detailBox .bar > div{width: 100%;}
    .webBox .txtBox .detailBox .bar.per50 > div{width: 50%;}
    .webBox .txtBox .detailBox .bar.per60 > div{width: 60%;}
    .webBox .txtBox .detailBox .bar.per70 > div{width: 70%;}
    .webBox .txtBox .detailBox .bar.per75 > div{width: 75%;}
    .webBox:hover .imgBox:after{bottom:0;}
    .webBox:hover .txtBox{bottom: 22px;}
    #design .webBox .txtBox{background: none;bottom: 0;padding: 20px;}


    /* content */
    .content .sectionTit{margin-top: 30px;}
    .sectionTit h2{font-size: 2em;}
    .galleryBox li{flex:0 1 33.3%;height: 230px;}

}


@media only screen and (max-width:640px){
    header .logo{width: 50px;}
    header .logo img{max-width: 100%;}
    header .gnb ul li{}
    header .gnb ul li:not(:last-child):after{margin: 0 5px;width: 3px;height: 3px;}
    header .gnb ul li a{font-size: 1em;}


    /* main */
    .mainTxt{margin-top: 0;}
    .mainTit{}
    .mainTxt h2{font-size: 3em;}
    .mainTxt .num{font-size: 1em;}
    .hoverTxt{display: none;}
    .mainCon{display: flex;flex-direction: column;flex-wrap: wrap;justify-content: flex-start;}
    .mainCon article a img{width:100%; height:auto; top:50%; transform:translate(-50%, -50%);}
    .mainCon article .subTxt{margin-top: 10px;font-size: 0.9em;position: relative;padding-top: 5px;}
    .mainCon article .subTxt:before{display:block;content:'';width:20px;height:1px;background:#fff;position: absolute;left: 50%;transform: translateX(-50%);top: 0;}
    .contact{display: none;}


    /* about */
    .sectionTit{margin-bottom:20px;}
    .webBox .txtBox .tit{font-size:1.2em;}

    /* web */
    .webBox{flex:1 1 50%;max-width: 50%;}

    /* content */
    .content .sectionTit{margin-bottom: 20px;}
    .galleryBox li{flex:0 1 50%;height: 150px;}
    #swipebox-close{width: 25px;height: 25px;background-size: contain !important;top: 25px;right: 25px}
}


@media only screen and (max-width:480px){
    /* about */
    #about .aboutInfo li{flex:1 1 100%;}

    /* web */
    .webBox{flex:1 1 100%;max-width: 100%;}
}