@charset 'utf-8';

/* header -------------------------------------------------- */
header{position: fixed;width: 100%;height: 92px;line-height:92px;background-color: #fff;z-index: 9999;padding:0 50px;display: none;box-shadow: 0 0 50px rgb(0 0 0 / 10%);}
header .logo{float: left;}
header .gnb{float: right;}
header .gnb ul li{float: left}
header .gnb ul li:not(:last-child):after{display:inline-block; content:'';width:7px; height:7px;background-color:#1d2474;; border-radius:50%;margin:0 30px; vertical-align: middle;}
header .gnb ul li a{font-family: 'GmarketSans';color: #1d2474;font-size: 1.25em;display: inline-block;}
header .gnb ul li:hover a{animation:.1s linear infinite alternate headHover}
@keyframes headHover{
    0%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg);}
}



/* main -------------------------------------------------- */
#mainWrap{position:relative;width:100%;height: 100vh;top:0;left:0;color: #fff;}
.mainTit{position: absolute;right: 0;top:60px;z-index:1;font-weight: 100;transform: rotate(90deg);font-size: 1.5em;opacity:.5;user-select:none;font-family: 'GmarketSans';line-height: 1.1;}


/* contact  */
.contact{position: absolute;left:50px;bottom:50px;z-index:1;transition:.5s;user-select:none}
.contact:hover{left:70px}
.contact:before{content:'';display:block;width:1000px;height:2px;background:#fff;position:absolute;top:10px;left:-1000px}
.contact li{float:left;margin-left:10px;display:flex;font-family: 'GmarketSans';}
.contact li img{width: 16px; height: 16px;}
.contact li img:hover{opacity:0;animation:.6s linear infinite alternate aniHover}
@keyframes aniHover{
    0%{opacity: 1;}
    100%{opacity: 0.3;}
}
.contact li p{margin-left:10px;width:0;overflow:hidden;white-space:nowrap;transition:.5s}
.contact:hover li p{width:200px}


/* dPage */
.dPage{position:fixed;right:50px;bottom:140px;z-index:1;transform:rotate(-90deg);transform-origin:right bottom;transition:.5s}
.dPage:hover{bottom:160px;padding-left:20px}
.dPage p{font-size:20px}


/* mainCon */
.mainCon{position: absolute;width:100%;height:100%;top:0;left:0;background:#000;display:flex}
.mainCon article{flex:1 0 20%;overflow:hidden;float:left;position:relative;height:100%;box-shadow:-10px 0 40px rgba(0,0,0,.5);transition: .3s;}
.mainCon article:hover{flex:1 2 22%;text-shadow: 0 0 30px rgb(0 0 0 / 25%);}
.mainCon article a{display:block;height:100%}
.mainCon article a img{height:100%;position:absolute;opacity:.5;filter: grayscale(0.5) blur(3px);left:50%;transform:translateX(-50%)}
.mainCon article:hover a img{transform:scale(1.1),translateX(-50%);filter:grayscale(.4);opacity:.8; transition: .5s;}
.mainCon article:hover .hoverTxt p{bottom:0;color:#000}
.mainCon article:hover .hoverTxt p:after{bottom:0}

.mainTxt{position:absolute;width:100%;z-index:1;text-align:center;top:50%;transform: translateY(-50%);}
.mainTxt h2{font-size: 6.5em;font-family:GmarketSans;}
.mainTxt .num{font-size: 2.5em;font-family:GmarketSans;}

.hoverTxt{height: 35px;overflow:hidden;font-size: 1.25em;}
.hoverTxt p{position:relative;height: 35px;line-height: 35px;bottom: -35px;display:inline-block;transition:bottom .5s,color 1.5s;z-index:10}
.hoverTxt p:after{content:'';display:block;width:100%;height: 30px;position:absolute;bottom: -35px;left:-10px;background:#fff;transition:1s;z-index:-1;padding:0 10px}

.subTxt{margin-top:20px;letter-spacing:1px;transform:translateY(50px);height:0;overflow:hidden;transition:.5s}
.mainCon article:hover .subTxt{height:50px;transform:translateY(0)}



/* sub -------------------------------------------------- */
#subWrap{}
#subWrap section{padding: 150px 0;min-height: 100vh;}
.sectionTit{width: 100%; text-align: center;margin-bottom: 50px;}
.sectionTit h2{font-family: 'GmarketSans';font-size: 3em;font-weight: bold;}
.sectionTit h2 span{color: #4a6bee;}
.sectionTit span{}

/* about */
#about{background: url('/img/about_bg.jpg') no-repeat left center;background-size: cover;} 
.aboutWrap{display: flex;flex-direction: column;flex-wrap: wrap;align-content: center;align-items: center;justify-content: center;}

#about .titBox{text-align: center;}
#about .aboutTit{text-align:center;color:#ffdf47;font-size:2em;font-family:'GmarketSans';font-weight:700;margin-top: 35px;}
#about .aboutTit span{position:relative;}
#about .aboutTit span::before{display: block;content: '';width: 21px;height: 32px;background: url(/img/about_tit.png) no-repeat;position:absolute;left: -11px;top: -14px;}
#about .aboutInfo{margin-top: 35px;}
#about .aboutInfo li{border:1px solid #fff;border-radius:100px;text-align:center;color:#fff;padding:9px 50px;float:left;margin:0 7px;opacity: 0.7; transition:0.3s;}
#about .aboutInfo li:hover{opacity:1;}

#about .infoBox{margin-top:65px;}
#about .infoBox .tit{color: #61d7fd;text-align: center;font-family: 'GmarketSans';font-size: 1.5em;position: relative; padding-bottom:10px;margin-bottom: 20px;}
#about .infoBox .tit::after{display: block; content: ''; width: 55px; height: 1px;background-color: #61d7fd; position: absolute;left: 50%; transform: translateX(-50%); bottom: 0;}
#about .infoBox .info li{color: #fff;font-size: 1.25em;margin: 5px 0;}
#about .infoBox .info li span{display:inline-block}
#about .infoBox .info li .day{font-family: 'GmarketSans';width: 200px;margin-right: 36px;}


/* web */
#web{background: url('/img/web_bg.jpg') no-repeat right bottom;}
.webWrap{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;align-content: center;justify-content: center;}
.webCon{width: 1400px;display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;align-content: center;}
.webBox{position:relative;flex: 1 1 30%;height:326px;overflow:hidden;max-width: calc(100% / 3);}
.webBox .imgBox{position:relative;text-align: center;height: 100%;}
.webBox .imgBox img{height: 100%;}
.webBox .imgBox:after{display:block;content:'';width:100%;height:100%;background: linear-gradient(to left, #6b56f3, #2f89fc);position: absolute;left: 0;bottom: -110%;opacity: 0.95;transition: .3s;}
.webBox:hover .imgBox:after{bottom: 0;}
.webBox .txtBox{position:absolute;bottom: -55px;left: 40px;color: #fff;width: calc(100% - 80px);transition: .3s;}
.webBox:hover .txtBox{bottom:40px}
.webBox .txtBox .tit{font-family:'GmarketSans';font-size:1.5em;font-weight: bold;}
.webBox .txtBox .txt{margin-top: 15px;}
.webBox .txtBox .tit:before{display:block;content:'';width:35px;height:1px;background-color:#fff;margin-bottom: 15px;}
.webBox .txtBox .detailBox {margin-top: 25px;}
.webBox .txtBox .detailBox li{display:flex;flex-direction: row;justify-content: flex-start;align-items: center;align-content: center;flex-wrap: wrap;}
.webBox .txtBox .detailBox .info{width: 60px;}
.webBox .txtBox .detailBox .bar{width: calc(100% - 125px);margin: 0 10px;height: 15px;position: relative;}
.webBox .txtBox .detailBox .bar > div{width: 0;background: #fff;height: 15px;border-radius: 100px; transition: .5s;position: absolute; left: 0;}
.webBox:hover .txtBox .detailBox .bar > div{width: 100%;}
.webBox:hover .txtBox .detailBox .bar.per50 > div{width: 50%;}
.webBox:hover .txtBox .detailBox .bar.per60 > div{width: 60%;}
.webBox:hover .txtBox .detailBox .bar.per70 > div{width: 70%;}
.webBox:hover .txtBox .detailBox .bar.per75 > div{width: 75%;}


/* design */
#design{background-color: #1d2474;}
#design .sectionTit{color: #fff;}
#design .sectionTit h2 span{color: #61d7fd;}
#design .webBox .txtBox{bottom:-43px;width:100%;background:rgba(0,0,0,.8);left:0;padding:19px 40px}
#design .webBox:hover .txtBox{bottom: 20px;background: transparent;}


/* content -------------------------------------------------- */
.content{width: 100%;}
.content > img{max-width: 100%;}
.content .sectionTit{margin-top: 100px;}

/* gallery */
.galleryBox{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;align-content:center;justify-content:flex-start;width:1400px;margin:0 auto}
.galleryBox li{flex: 0 1 25%;overflow:hidden;height:300px;border: 1px solid #e1e1e1;margin-right: -1px;margin-bottom: -1px;}
.galleryBox li a{display:block;position:relative;height:100%}
.galleryBox li a img{width:100%;height:auto;position:absolute;top:50%;transform:translateY(-50%)}
#swipebox-close{background:url('/img/btn_close.png') no-repeat !important; width: 50px; height: 50px;}

