@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Abel|PT+Serif|Noto+Sans+KR:300');

body{font-family:Abel; color:#fff;}


#mainWrap{
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;
}


h1{
    position:fixed;
    left:0;
    top:60px;
    z-index:1;
    font-family:'PT Serif';
    font-weight:normal;
    transform:rotate(-90deg);
    font-size:24px;
    opacity:0.5;
    user-select: none;
}

/*.sns--------------------------------------------------------------*/
.sns{
    position:fixed;
    left:50px;
    bottom:50px;
    z-index:1;
    transition:all 0.5s;
    user-select: none;
}
.sns:hover{
    left:70px;
}
.sns:hover li p{
    width:100px;
}
.sns:before{
    content:'';
    display:block;
    width:1000px;
    height:2px;
    background:#fff;
    position:absolute;
    top:10px;
    left:-1000px;
}
.sns li{
    float:left;
    margin-left:10px;
    display:flex;
}
.sns li i:hover{
    opacity: 0;

    animation:aniHover 0.6s infinite linear alternate;
}
@keyframes aniHover{
    0%{opacity: 1;}
    100%{opacity: 0.3;}
}

.sns li p{
    margin-left:10px;
    width:0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}


/*.dPage-----------------------------------------------------------*/
.dPage{
    position:fixed;
    right:50px;
    bottom:140px;
    z-index:1;
    transform:rotate(-90deg);
    transform-origin:right bottom;
    transition:all 0.5s;
}
.dPage:hover{
    bottom:160px;
    padding-left:20px;
}
.dPage p{
    font-size:20px;
}

/*.manu----------------------------------------------------------*/
.menu{
    position:fixed;
    top:50px;
    right:50px;
    z-index:1;
    width:30px;
    height:35px;
    cursor: pointer;
}
.menu span{
    display:block;
    width:2px;
    height:100%;
    background:#fff;
    position:absolute;
    transition:all 0.3s;
}
.menu span:nth-child(1){
    left:0;
}
.menu span:nth-child(2){
    left:50%;
    margin-left:-1px;
}
.menu span:nth-child(3){
    right:0;
}

.menu div{
    position:relative;
}

.menu .up{
    width:100%;
    height:100%;
}
.menu .up span{
    top:0;
}
.menu .up span:nth-child(1){
    transition-delay:0.2s;
}
.menu .up span:nth-child(2){
    transition-delay:0.3s;
}
.menu .up span:nth-child(3){
    transition-delay:0.4s;
}

.menu .down{
    width:100%;
    height:100%;
    top:-35px;
}
.menu .down span{
    height:0;
    bottom:0;
}
.menu .down span:nth-child(1){
    transition-delay:0.1s;
}
.menu .down span:nth-child(2){
    transition-delay:0.2s;
}
.menu .down span:nth-child(3){
    transition-delay:0.3s;
}

/*hover*/
.menu:hover .up span{
    height:0;
}
.menu:hover .up span:nth-child(1){
    transition-delay:0s;
}
.menu:hover .up span:nth-child(2){
    transition-delay:0.1s;
}
.menu:hover .up span:nth-child(3){
    transition-delay:0.2s;
}

.menu:hover .down span{
    height:100%;
}


/*.mainBox-----------------------------------------------------*/
.mainBox{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#000;
}
.mainBox article{
    width:20%;
    overflow:hidden;
    float:left;
    position:relative;
    height:100%;
    box-shadow:-10px 0 40px rgba(0,0,0,0.5);
}
.mainBox article a{
    display: table;
    height: 100%;
}
.mainBox article a img{
    height:100%;
    /* position:absolute; */
    /* top:0;
    left:50%; */
    display: table-cell;
    opacity:0.5;
    transition:all 2s;
    filter:grayscale(1) blur(3px);
}
/* .mainBox article:nth-child(1) a img{
    margin-left:-200px;
}
.mainBox article:nth-child(2) a img{
    margin-left:-200px;
}
.mainBox article:nth-child(3) a img{
    margin-left:-250px;
}
.mainBox article:nth-child(4) a img{
    margin-left:-200px;
}
.mainBox article:nth-child(5) a img{
    margin-left:-200px;
} */

.mainTxt{
    position:absolute;
    width:100%;
    z-index:1;
    text-align:center;
    top:50%;
    margin-top:-130px;
}
.mainTxt h2{
    font-size:100px;
    font-weight:normal;
}
.mainTxt .num{
    font-size:30px;
}

.hoverTxt{
    height:25px;
    overflow:hidden;
}
.hoverTxt p{
    position:relative;
    height:25px;
    line-height:25px;
    bottom:-25px;
    display:inline-block;
    transition:bottom 0.5s, color 1.5s;
    z-index:10;
}
.hoverTxt p:after{
    content:'';
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    bottom:-35px;
    left:-10px;
    background:#fff;
    transition:all 1s;
    z-index:-1;
    padding:0 10px;
}

.subTxt{
    margin-top:20px;
    font-size:12px;
    letter-spacing:1px;
    transform:translateY(50px);
    height:0;
    overflow:hidden;
    transition:all 0.5s;
}

/*hover*/
article:hover .hoverTxt p{
    bottom:0;
    color:#000;
}
article:hover .hoverTxt p:after{
    bottom:0;
}
article:hover .subTxt{
    height:50px;
    transform:translateY(0);
}

.mainBox article:hover a img{
    transform:scale(1.1);
    filter:grayscale(0.4);
    opacity:0.8;
}


/* .profileCon--------------------------------------------------- */
.profileCon{
    position: fixed;
    width:90%;
    height:100vh;
    z-index:100;
    left:150%;
    top:0;
    background:#fff;
    transform: skewX(-40deg);
}

/* .pImg */
.pImg{
    position: absolute;
    width:300px;
    height:100%;
    overflow: hidden;
}
.pImg img{
    position: absolute;
    transform: skewX(40deg) translateX(-50%);
    left:50%;
    height: 100%;
    filter: grayscale(0.3);
}

/* .pTxt */
.pTxt{
    position: absolute;
    width:calc(100% - 300px);
    height:100%;
    left:300px;
    top:0;
    color:#444;
}

.profile{
    width: 100%;
    font-family: 'Noto Sans KR';
    font-size:14px;
    position: absolute;
    top:100px;
    left:10px;
    transform: skewX(40deg);
}

.profile article{
    width:calc(50%);
    line-height:1.7;
    position: absolute;
}
.profile article .tit{
    font-size:20px;
    margin-bottom:15px;
    font-family:'PT Serif';
    color: #244978;
    user-select: none;
}

/* .pro */
.pro ul li{
    float: left;
}
.pro ul li:first-child{
    margin-right:20px;
    font-weight: bold;
}

/* .edu */
.edu{
    top:120px;
    left:-80px;
}
.edu p:not(.tit), .carrer p:not(.tit){
    width:310px;
    box-sizing: border-box;

}
/* .carrer */
.carrer{
    left:-160px;
    top:250px;
}

/* .skill */
.profile article.skill{
    width:40%;
    left:300px;
}
.skill ul li{
    display: flex;
    justify-content: space-between;
}
.skill ul li p{
    margin-bottom:10px;
    font-weight: bold;
}
.skill ul li>div{
    width:calc(100% - 90px);
    height:16px;
    margin-top:8px;
    margin-right:10px;
    border:1px solid #244978;
    border-radius:100px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.skill ul li>div div{
    display: block;
    content: '';
    width:0;
    height:100%;
    background:#244978;
    position: absolute;
    top:0;
    left:0;
    border-radius: 100px;
}

/* .contact */
.contact{
    left:250px;
    top:250px;
}
.contact ul{
    padding-left:20px;
    box-sizing: border-box;
    display: flex;
}
.contact ul li:first-child{
    margin-right:20px;
    font-weight: bold;
}
.contact ul li .eMail{
    position: relative;
}
.contact ul li .eMail:after{
    display: block;
    content: '';
    position: absolute;
    width:0;
    height: 2px;
    background:#244978;
    left:50%;
    transition: all 0.3s;
    bottom:-2px;
    transform: translateX(-50%);
}
.contact ul li .eMail:hover:after{
    left:0;
    width: 100%;
    transform: none;
}

.close{
    position: absolute;;
    right:150px;
    top:-50px;
    cursor: pointer;
    width:30px;
    height:30px;
}
.close span{
    display: block;
    width:30px;
    height:5px;
    border-radius:100px;
    background:#244978;
    position: absolute;
    left:0;
    transition: all 0.5s;
    top:15px;
}
.close span:nth-child(1){
    transform: rotate(45deg);
}   
.close span:nth-child(2){
    opacity:0;
    width:40px;
}
.close span:nth-child(3){
    transform: rotate(-45deg);
}

/* hover */
.close:hover span:nth-child(1){
    left:20px;
    transform:rotate(30deg);
    top:10px;
    width:20px;

    animation:ani1 1s 0.5s infinite linear alternate;
}
@keyframes ani1{
    0%{left:20px;}
    100%{left:30px;}
}
.close:hover span:nth-child(2){
    opacity: 1;

    animation:ani2 1s 0.5s infinite linear alternate;
}
@keyframes ani2{
    0%{left:0;}
    100%{left:10px;}
}
.close:hover span:nth-child(3){
    left:20px;
    transform: rotate(-30deg);
    top:20px;
    width:20px;

    animation:ani3 1s 0.5s infinite linear alternate;
}
@keyframes ani3{
    0%{left:20px;}
    100%{left:30px;}
}


