@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Hind+Siliguri');

*{margin:0; padding:0; box-sizing: border-box;}
a{text-decoration:none; color:inherit;}
ul, ol{list-style:none;}
address{font-style:normal;}
img{vertical-align:top;}

.cf{}
.cf:after{display:block; clear:both; content:'';}

body{font-family:Hind Siliguri; overflow-x: hidden; color:#222;}
.wrap{width:980px; margin:0 auto;}
::selection{background-color:rgba(103, 58, 183, 0.5); color:#fff;}
h2{user-select: none;}


/*header------------------------------------------------------------------------------------------------------*/
header .wrap{
    position:relative;
    height:54px;
    margin-top:10px;
}

header span{
    position:absolute;
    left:0;
    top:50%;
    margin-top:-10px;
    font-size:12px;
    colorㅋㅋㅋㅋㅋㅋㅋㅋㅋ:#c60039;
    user-select:none;
}
header span img{
    width:15px;
    vertical-align:middle;
    margin-left:6px;
}

header h1{
    position:absolute;
    left:50%;
    margin-left:-97px;
}

header .utill{
    position:absolute;
    right:0;
    top:50%;
    margin-top:-12px;
}
header .utill li{
    float:left;
    font-size:12px;
    color:#5e5e5e;
}
header .utill li:not(:last-child){
    margin-right:7px;
}
header .utill li:hover{
    text-decoration:underline;
}
header .utill li:not(:last-child):after{
    display:inline-block;
    content:'';
    width:1px;
    height:10px;
    background:#5e5e5e;
    margin-left:7px;
    vertical-align:middle;
    margin-bottom:2px;
}

/* .utillSub 공통*/
.utillSub{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999;
    background:rgba(0,0,0,0.7);
    display: none;
}
.utillSub .close{
    position: absolute;
    right:20px;
    top:20px;
    font-size:30px;
    color:#c60039;
    cursor: pointer;
}
.utillSub>li{
    width:700px;
    height:450px;
    background:#fff;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: none table;
}
.utillSub li.loginSub{
    display: none;
}
.utillSub form{
    width:500px;
    height:100%;
    display: table-cell;
    vertical-align: middle;
}
.utillSub form>p{
    font-size:30px;
    font-weight: bold;
    margin-bottom:10px;
}
.utillSub form>div:not(:last-child){
    width:400px;
    padding:15px 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-bottom:10px;
    background:#fff;
}
.utillSub form input{
    border:none;
    padding:5px 0;
    text-indent: 20px;
}
.utillSub form>div:nth-child(even) input{
    border-left:2px solid #444586;
}
.utillSub form>div:nth-child(odd){
    margin-left:50px;
}
.utillSub form>div:nth-child(odd) input{
    border-left:2px solid #c60039;
}

/* .utillSub .btn */
.utillSub form .btn{
    margin-top:30px;
}
.utillSub form button{
    background:#fff;
    border:none;
    transition:all 0.5s;
    cursor: pointer;
    position:relative;
    z-index:1;
    margin-right: 20px;

}
.utillSub form button:after{
    display:block;
    content:'';
    width:0;
    height:10px;
    background:rgba(198, 0, 57, 0.5);
    position:absolute;
    top:8px;
    left:50%;
    z-index:-1;
    transition:all 0.5s;
    transform:skewX(10deg);
}
.utillSub form button:nth-child(2):after{
    background:rgba(103, 58, 183, 0.5);
}
.utillSub form button:hover:after{
    left:0;
    width:110%;
}
.utillSub form .btn a{
    font-size:12px;
    float: right;
    padding-right:120px;
}
.utillSub form .btn a:{
    transition: all 0.3s;
}
.utillSub form .btn a:hover{
    color:#444586;
}

.utillSub .rBg{
    display: table-cell;
    width:200px;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    background:url(../img/bg.png) no-repeat center;
    background-size:cover;
    z-index:-1;
}

/* .utillSub .signSub */
.utillSub>li.signSub{
    width:700px;
    height:550px;
}
.utillSub>li.signSub .rBg{
    background-image: url(../img/bg_02.png);
}


/*gnb-------------------------------------------------------------------------------------------------*/
.gnb{
    width: 980px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.gnb>li{
    color:#222;
    font-size:20px;
    float:left;
    padding:0 35px;
    font-weight:bold;
    position:relative;
}
.gnb>li>a{
    font-family:'Fugaz One';
    position:relative;
    z-index:1;
}
.gnb>li>a:after{
    display:block;
    content:'';
    width:0;
    height:15px;
    background:rgba(93, 52, 165, 0.5);
    position:absolute;
    top:12px;
    left:50%;
    z-index:-1;
    transition:all 0.5s;
    transform:skewX(10deg);
}
.gnb>li:hover>a:after{
    left:-3px;
    width:115%;
}

.gnb>li .sub{
    z-index:100;
    position:absolute;
    background-color:#fff;
    font-size:14px;
    left:50%;
    transform:translateX(-50%);
    padding-top:20px;
    padding-bottom:8px;
    display:none;
    width:100%;
    border-bottom:4px solid #444586;
}
.gnb>li .sub>li{
    margin-bottom:7px;
    text-align:center;
}
.gnb>li .sub>li a{
    position:relative;
    z-index:1;
}
.gnb>li .sub>li a:after{
    display:block;
    content:'';
    width:0;
    height:10px;
    background:rgba(198, 0, 57, 0.5);
    position:absolute;
    top:12px;
    left:50%;
    z-index:-1;
    transition:all 0.5s;
    transform:skewX(10deg);
}
.gnb>li .sub>li a:hover:after{
    left:0;
    width:110%;
}




/* nav----------------------------------------------------------------------- */

nav{
    width:100%;
    margin-top:20px;
    border-bottom:1px solid #ededed;
    margin-bottom:50px;
}
nav .navTop{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}
nav h2{
    font-family: 'Fugaz One';
    color:#fff;
    line-height:150px;
    text-align: center;
    background:rgba(0,0,0,0.5);
}
nav h2 span{
    display: inline-block;
    width: 50px;
    height:2px;
    background:#fff;
    margin:0 15px;
}

nav ul{
    display: table;
    margin:0 auto;
    height: 40px;
}
nav ul li{
    display: table-cell;
    vertical-align: middle;
    padding-right:30px;
    transition: all 0.5s;
}
nav ul li:last-child{
    padding-right: none;
}
nav ul li.on{
    color:#c60039;
    font-weight:bold;
}
nav ul li:not(:last-child):after{
    display: inline-block;
    content: '/';
    padding-left:30px;
    color:#222;
    font-weight: normal;
}
nav ul li:hover{
    color:#444586;
    font-weight: bold;
}





/*footer------------------------------------------------------------------------------------------------*/
footer{
    font-size:14px;
    color:#5e5e5e;
    text-align:center;
    margin-top:100px;
    padding-bottom:20px;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:-100;
    background:#f8f8f8;
}
footer img{
    padding-top:200px;
}
footer .fInfo{
    margin:0 auto;
    width:443px;
    margin-top:30px;
}
footer .fInfo li{
    float:left;
}
footer .fInfo li:not(:last-child){
    margin-right:10px;
}
footer .fInfo li:not(:last-child):after{
    display:inline-block;
    content:'';
    width:1px;
    height:10px;
    background:#5e5e5e;
    margin-left:10px;
    vertical-align:middle;
    margin-bottom:2px;
}
footer .fInfo li:hover{
    text-decoration: underline;
    font-weight:bold;
}
footer .copyright{
    margin-top:30px;
}





/* #topBtn---------------------------------------------------- */
#topBtn{
    transform: rotate(-90deg);
    position: fixed;
    z-index:99;
    bottom:30px;
    right:0;
    font-size:20px;
    cursor: pointer;
}
#topBtn:after{
    display:block;
    content:'';
    width:110%;
    height:15px;
    background:rgba(103, 58, 183, 0.5);
    position:absolute;
    top:15px;
    right:-3px;
    z-index:-1;
    transform:skewX(-10deg);
}
