
/* breakpoint 1200---------------------------------------------- */
@media all and (max-width : 1200px){

    header{
        width:100%;
        padding:0 15px;
        box-sizing: border-box;
    }

    /* .mainBn-------------------------------------------- */
    .mainBn{
        height: auto;
    }
    .mainBn .wrap{
        width:100%;
    }
    .mainBn .wrap img{
        height: auto;
        width:100%;
    }
    .mainBn .wrap>p{
        font-size:30px;
        text-align: center;
        left:50%;
        right: auto;
        transform: translate(-50%, -50%);
        color: #f7d4c1;
    }
    .mainbn .mTxt{
        display: none;
    }

    /* .plan-------------------------------------------- */
    .plan{
        width:100%;
        padding:0 15px;
        box-sizing: border-box;
    }
    .plan .line{
        display: none;
    }

    .plan .txt{
        padding-left:10%;
    }

    .plan .txtIn{
        margin:20px 0;
    }
    .plan .txtIn li:first-child{
        font-size:20px;
        margin-bottom:5px;
    }
    .plan .txtIn li:nth-child(n+2){    }

    .plan .box{
        top:32%;
    }


    /* .planer-------------------------------------------------- */
    .planer{
        width:100%;
        margin-top:50px;
        padding:0 15px;
        box-sizing: border-box;
    }
}/* 1200px */



/* breakpoint 768----------------------------------------------- */
@media all and (max-width:768px){


    header{
        width:100%;
        padding:0;
    }
    header h1{
        position: absolute;
        left:15px;
    }
    .bar{
        display: none;
    }

    header>button{
        position: absolute;
        right:0;
        width:60px;
        height:60px;
        display: block;
        background:none;
        border:none;
    }
    header>button span{
        display: block;
        width:30px;
        height: 3px;
        background-color: #37435b;
        margin-bottom:5px;
        margin-left:13px;
    }
    header>button span:last-child{
        margin-bottom:0;
    }

    .gnb{
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:-100%;
        display: block;
        background:#fff;
        box-sizing: border-box;
        padding:0 30px;
        background-color: #f8f3f2;
        z-index:999;
    }
    .gnb button.close{
        display: block;
        height:30px;
        line-height: 30px;
        position: absolute;
        top:10px;
        right:30px;
        z-index:2;
        border:1px solid #37435b;
    }
    .gnb>li{
        text-align: left;
        border-bottom:1px solid #37435b;
        position: static;
        line-height:3;
    }
    .gnb>li:nth-of-type(1){
        margin-top:30px;
    }
    .gnb>li p{
        display: block;
    }

    .gnb .sub{
        position: static;
        width:100%;
        transform: none;
    }
    .gnb .sub li{
        text-indent: left;
        width:100%;
        white-space: normal;
        line-height:1.5;
    }
    .gnb .sub li a:after{
        display: none;
    }
    .gnb .sub li a:before{
        display:inline-block;
        content: '└';
        margin-right:7px;
    }

    .utill{
        display: none;
    }


    /* .about--------------------------------------------- */
    .about{
        background-image: url(../img/bg_03.png);
    }
    .about h2{
        padding-top:100px;
    }
    .about p{
        padding:0 15px;
        box-sizing: border-box;
    }
    .about button.more{
        margin-top:38px;
    }
    .about button.more:hover{
        transform: none;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
    }


    /* .planer-------------------------------------------------- */
    .plan{
        margin-top:70px;
    }
    .plan h2{
        margin-bottom:27px;
    }


    .plan .txtBox>p{
        display: none;
    }
    .plan .txtIn{
        margin:15px 0;
    }
    .plan .txtIn:nth-of-type(1){
        margin-top:0;
    }
    .plan .txtIn li:first-child{
        font-size:18px;
        margin-bottom:10px;
    }
    .plan .txtIn li:nth-child(n+2){
        font-size: 14px;
    }

    .plan .flower{
        display: none;
    }

    /* .planer----------------------------------------- */
    .planer h2{
        margin-bottom:27px;
    }
    .planer article{
        width:calc(50% - 7.5px);
    }
    .planer article:nth-of-type(1){
        margin-right:15px;
    }
    
    .planer article .img{
        position: static;
    }
    .planer article .img img{
        width: 100%;
    }
    .planer article .img{
        position: static;
    }
    .planer article .img:after{
        display:none;
    }
    .planer article .img img.p{
        display: none;
    }
    .planer article .img img.m{
        display: block;
    }
    .planer article .img p{
        position: static;
    }
    .planer article .img p:nth-of-type(1){
        text-align: center;
        background:none;
        font-size:16px;
        padding:0;
        margin-top:10px;
    }
    .planer .line{
        display: none;
    }
    .planer article .img p:nth-of-type(3){
        text-align: center;
        font-size:14px;
        margin-top:10px;
    }
    .planer article .img p:nth-of-type(3):hover span{
        margin-left:auto;
    }
    .planer article .txt{
        margin-top:20px;
        font-size:12px;
    }
    .planer button.more{
        margin-top:20px;
    }

    .planer button.more:hover{
        transform: none;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
    }


    /* .touch---------------------------------------- */
    .touch .wrap{
        width:100%;
        padding:0 15px;
        box-sizing: border-box;
    }
    .touch .info h2{
        margin-bottom:27px;
    }
    .touch .infoIn p{
        font-size:12px;
    }

    .touch .sns{
        transform: translateY(50%);
    }
    .touch .sns .line{
        display:none;
    }
    .touch .sns .img p:hover img{
        transform: unset;
    }


    /* footer---------------------------------------- */
    footer{
        padding:0 15px;
        box-sizing: border-box;
        padding-bottom:50px;
    }
    footer ul{
        width:100%;
    }

    /* #top */
    #top:hover img:first-child{
        top:0;
    }
    
}/* 768px */



/* breakpoint 640px----------------------------------------------- */
@media all and (max-width:640px){

    /* .mainBn-------------------------------------- */
    .mainBn span{
        display: none;
    }


    /* .about------------------------------------------- */
    .about p{
        font-size: 14px;
    }
    .about button.more{
        font-size:12px;
    }


    /* .plan---------------------------------------------- */
    .plan .img{
        width:100%;
        float: unset;
    }

    .plan .txt{
        width:100%;
        float: unset;
        box-sizing: unset;
        margin-top:60px;
        padding:0;
    }
    .plan .txtBox:after{
        display: block;
        content: '';
        clear: both;
    }

    .plan .txtBox .txtIn{
        float: left;
        width:calc(50% - 10px);
        margin:0 10px 25px 0;
    }

    .plan .txtIn li:first-child{
        margin-bottom:5px;
    }

    .plan .box{
        display: none;
    }


    /* .planer--------------------------------------- */
    .planer article{
        width:100%;
        margin-bottom:10px;
    }
    .planer article .img{
        width:40%;
        float: left;
    }
    .planer article .img p:nth-of-type(1){
        white-space: nowrap;
        margin-top:5px;
    }
    .planer article .img p:nth-of-type(3){
        font-size:12px;
        margin-top:5px;
    }
    
    .planer article .txt{
        width:60%;
        float: left;
        padding:0 10px;
        box-sizing: border-box;
        margin-top:10%;
        font-size:14px;
       
    }

    .planer button.more{
        font-size:12px;
    }

    /* .touch----------------------------------------- */
    .touch{
        padding-bottom:20px;
    }
    .touch .info{
        width:100%;
        float: none;
    }
    .touch .infoIn p{
        font-size:16px;
        white-space: unset;
    }
    .touch .infoIn input{
        width:80%;
    }
    .touch .infoIn textarea{
        border:none;
        resize: none;
        width:80%;
    }

    .touch .sns{
        width:100%;
        float: none;
        transform: none;
    }
    .touch .sns .img{
        text-align: center;
        margin:0;
        width:100%;
        margin-top:30px;
    }
    .touch .sns .img:after{
        display: none;
    }
    .touch .sns .img p{
        position:static;
        margin-top:15px;
    }


    footer{
        font-size: 12px;
    }
    footer ul{
        line-height: 1.7;
    }


}/* 640px */