@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Quattrocento');

body{
    font-family: Quattrocento; 
    color:#37435b; 
    background: url('https://source.unsplash.com/tgmGOhXVuoI/1920x1080') no-repeat center bottom fixed;
    background-size: cover;
}
a{text-decoration:none; color:inherit;}
a:hover{text-decoration: none; color: inherit;}
ul, ol{list-style:none;}

img{vertical-align:top;}

.container-fluid{
    background:rgba(0,0,0,0.7);
}


/* .navbar 네비게이션--------------------------------------------- */
.navbar button i{
    font-size: 30px;
    color:#f7d4c1;
}

.navBox{
    color: #fff;
}
.navBox p{
    cursor: pointer;
    color: #f7d4c1;
}

.navBox ul li{
    transition: all 0.5s;
}
.navBox ul li:hover{
    color: #f7d4c1;
    text-shadow: 0 0 10px rgba(255,255,255,0.6);
}

.collapsing {
    transition: all 0.5s;
}


/* .loginBox------------------------------------------------- */
.loginBox .form-group{
    margin-top:20px;
}
.loginBox input[type="email"]{
    border:none;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 0;
}
.loginBox input[type="password"]{
    border:none;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 0;
    margin-top:20px;
}
.loginBox input[type="text"]{
    border:none;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 0;
    margin-top:20px;
}
.loginBox .form-group a{
    transition: all 0.5s;
}
.loginBox .form-group a:hover{
    color:#f7d4c1;
}



.form-group input{
    transition: all 0.5s;
}

.form-group input:focus{
    transform: translate(-10px, -5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
    background: #37435b;
    color:#f7d4c1;
}

.myCheckbox{
    transition: all 0.5s;
    cursor: pointer;
}
.myCheckbox:hover{
    color:#f7d4c1;
}

.myCheckbox input {
    position: relative;
    z-index: -9999;
}
.myCheckbox span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background:none;
    border:1px solid #37435b;
    margin-right:5px;
}
.myCheckbox input:checked + span {
    background:url(../img/check-mark.png) no-repeat center;
    background-size: cover;
}

.form-check p{
    font-size: 13px;
}

.form-group button{
    border:none;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 0;
    background: #fff;
    transition: all 0.5s;
}
.form-group button:hover{
    transform: translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
    background: #37435b;
    color:#f7d4c1;
}

