@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700');

*{margin:0; padding:0;}
a{text-decoration:none; color:inherit;}
ul, ol{list-style:none;}
address{font-style:normal;}
img{vertical-align: top;}

.cf{}
.cf:after{
    display:block; clear:both; content:'';}
body{
    position: relative;
    font-family:'Noto Sans KR', sans-serif; 
    font-weight:300; 
    overflow: hidden; 
    color:#363636;}
.wrap{width:1200px; margin:0 auto;}
h2{font-size:30px;}
h2 span{color: #c1d82f;}

h2.left{
    text-align: left;
    position: relative;
}
h2.left:before{
    display: block;
    content:'';
    width:1000px;
    height:2px;
    background-color: #c1d82f;
    position: absolute;
    top:50%;
    left:-1015px;
}

h2.right{
    text-align: right;
    position: relative;
}
h2.right:after{
    display: block;
    content:'';
    width:1000px;
    height:2px;
    background-color: #c1d82f;
    position: absolute;
    top:50%;
    right:-1015px;
}

/* #popup-------------------------------------------------- */
#popup{
    display: none;
    position: fixed;
    z-index:999;
    width:1005px;
    height:379px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
}
#popup a{
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    background:url(../img/popup.png) no-repeat center;
}
#popup .close{
    cursor: pointer;
    position: absolute;
    bottom:10px;
    right:10px;
    width:30px;
    height:30px;
    background:url(../img/popup_close.png) no-repeat center;
    background-size: cover;
    border:none;
}

/* #menu------------------------------------------------------- */
#menu{
    position: fixed;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    z-index:999;
}
#menu li{
    width:15px;
    height:15px;
    white-space: nowrap;
    margin-bottom:10px;
    border-radius:50%;
    border:2px solid #c1d82f;
    font-size:12px;
    text-indent:9999px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
#menu li.on{
    width:auto;
    padding:0 5px;
    box-sizing: border-box;
    line-height:8px;
    text-align: center;
    border-radius:100px;
    background:#c1d82f;
    color:#fff;
    text-indent: 0;
}

/* header---------------------------------------------------------------- */
header{
    height:40px;
    background-color:#c1d82f;
    position: fixed;
    width: 100%;
    z-index:9999;
    top:0;
    left:0;
}
header .wrap{
    display: flex;
    justify-content: space-between;
}
header .person{
    width:120px;
    height:40px;
    cursor: pointer;
    z-index:100;
}
header .person li{
    height:40px;
    line-height: 40px;
    padding:0 20px;
    box-sizing: border-box;
}
header .person span{
    display: block;
    width:0;
    height:0;
    border:6px solid transparent;
    border-top-color:#000;
    transform: translate(90px, -23px);
}
header .person.on span{
    transform: translate(90px, -26px) rotate(180deg);
}
header .person p{
    display: inline;
    font-size:14px;
}
header .person img{
    height:15px;
    margin-top:13px;
    margin-right:5px;
}
header .person .sub{
    background:#fff;
}
header .person .sub li{}
header .person .sub li p{}


header h1{}
header h1 img{
    height:40px;
}



header .utill{
    display: flex;
    justify-content: space-around;
    font-size:12px;
}
header .lang{
    margin-right:30px;
    height:100%;
    cursor: pointer;
    z-index:11;
}
header .lang p{
    padding:0 15px;
    display: inline-block;
}
header .lang span{
    display: inline-block;
    width:0;
    height:0;
    border:5px solid transparent;
    border-top-color:#000;
    margin-left:13px;
    transform: translateY(3px);
}
header .lang.on span{
    transform: translateY(-3px) rotate(180deg);
}
header .lang .uSub{
    background:#c1d82f;
    text-indent:15px;
}
header .utill>li{
    line-height:40px;
    margin-left:14px;
    position: relative;
}
header .utill>li:nth-child(2):after, .utill>li:nth-child(3):after{
    content:'';
    display: block;
    width:1px;
    height:10px;
    background-color:#000;
    position: absolute;
    top:16px;
    right:-7px;
}
/* hover */
header .utill>li:not(.lang):hover a{
    text-decoration: underline;
}


section{
    padding-top:40px;
}
/* .mainBn------------------------------------------ */
.mainBn{
    width:100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color:#000;
}
.mainBn video{
    width:100%;
    opacity: 0.4;
    margin-top:-10%;
}

.mainBn .wrap{
    width:1200px;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}

.mainBn .type{
    display: flex;
}
.mainBn .type li{
    width:95px;
    text-align: center;
    line-height: 45px;
    background-color:#fff;
    color:#000;
    cursor: pointer;
}
.mainBn .type li.on{
    background-color: #c1d82f;
    color:#fff;
}

.mainBn .choice{
    width:100%;
    margin-top:30px;
}
.mainBn .label{
    float: left;
}
.mainBn .choice input[type=text]{
    width:calc((100% - 95px) / 5 - 20px);
    margin-right:15px;
    height:35px;
    border:none;
    color:#fff;
    background-color:transparent;
    background-repeat: no-repeat;
    border-bottom:2px solid #c1d82f;
    background-size:20px;
    background-position:right center;
    box-sizing: border-box;
    text-indent:10px;
}
.mainBn .choice input[type=text]::placeholder{
    color:#fff;
    font-size:16px;
}
.mainBn .choice input:nth-of-type(1), .choice input:nth-of-type(2){
    background-image:url(../img/icon_location.png);
    cursor: pointer;
}
.mainBn .choice input:nth-of-type(3), .choice input:nth-of-type(4){
    background-image: url(../img/icon_calendar.png);
    cursor: pointer;
}
.mainBn .choice input:nth-of-type(5){
    background-image: url(../img/icon_user.png);
}
.mainBn .choice input:nth-of-type(6){
    background-image: url(../img/icon_sit.png);
}

.mainBn .choice input[type=submit]{
    float:right;
    width:95px;
    height:45px;
    background-color: #c1d82f;
    font-size:16px;
    font-weight:bold;
    border:none;
    cursor: pointer;
}


/* .locationSub------- */
.locationSub{
    width:750px;
    position:absolute;
    background:#fff;
    top:-50%;
    left:50%;
    transform: translateX(-50%);
    padding:20px 30px;
    display: none;
}
.locationSub ul{
    white-space: nowrap;
    float: left;
}
.locationSub ul .tit{
    user-select: none;
    font-size:20px;
    background:#c1d82f;
    border-right:1px solid #fff;
    box-sizing: border-box;
    margin-bottom:10px;
    text-align: center;
}
.locationSub ul li:not(.tit){
    text-align: center;
    padding:0 30px;
    cursor: pointer;
    line-height:2;
    transition: all 0.3s;
    font-size:14px;
}
.locationSub ul li:not(.tit):hover{
    color:#c1d82f;
}


/* .popular-------------------------------------- */
.popular{
    width:100%;
    background:url(../img/worldmap.png) no-repeat center top;
    background-size:cover;
    position: relative;
}
.popular .wrap{
    text-align:center;
    position: absolute;
    left:50%;
    margin-left:-600px;
}

.popularIn{
    display: flex;
    justify-content: space-between;
}

.popular .right{
    border-left:2px dotted #c1d82f;
}

.popular article{
    width:calc(50% - 1px);
}
.popular article>p{
    font-size:24px;
}
.popular .first{
    margin-top:40px;
    display:flex;
    justify-content:center;
    position: relative;
}

.popular .first:before{
    display: block;
    content: '1위';
    width:66px;
    height:66px;
    background-color: #c1d82f;
    color:#fff;
    border-radius:50%;
    text-align: center;
    line-height:66px;
    font-size:20px;
    font-weight: bold;
    position: absolute;
    top:30px;
    left:80px;
}
.popular .right .first:before{
    left:420px;
}

.popular .first img{
    width:40%;
    height:40%;
}
.popular .first span{
    font-size:20px;
}
.popular .first p{
    font-size:24px;
    font-weight:bold;
}

.popular .second{
    display:flex;
    justify-content:space-around;
    margin-top:40px;
}
.popular .second li{
    position: relative;
    font-size:18px;
}
.popular .second li:first-child:before{
    display: block;
    content: '2';
    width:50px;
    height:50px;
    background-color: #c1d82f;
    color:#fff;
    border-radius:50%;
    text-align: center;
    line-height:50px;
    font-size:20px;
    position: absolute;
    top:10px;
    left:50%;
    font-weight: bold;
    margin-left:-80px;
}
.popular .second li:last-child:before{
    display: block;
    content: '3';
    width:50px;
    height:50px;
    background-color: #c1d82f;
    color:#fff;
    border-radius:50%;
    text-align: center;
    line-height:50px;
    font-size:20px;
    position: absolute;
    top:10px;
    left:50%;
    font-weight: bold;
    margin-left:-80px;
}
.popular .second li img{
    height:auto;
    width:40%;
}
.popular .second li p{
    margin-top:10px;
}


/* .recomend--------------------------------------------- */
.recomend{
    width:1200px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top:40px;
    box-sizing: border-box;
}

.recomend ul{
    display: flex;
    width:100%;
    height:calc(100% - 110px);
    margin-top:30px;
}
.recomend ul li{
    height:100%;
    width:25%;
    background-image: url(../img/recomend_hni.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color:#fff;
    transition: all 0.5s;
}
.recomend ul li:nth-child(2){
    background-image: url(../img/recomen_xa.jpg);
}
.recomend ul li:nth-child(3){
    background-image: url(../img/recomend_hwi.jpg);
}
.recomend ul li:nth-child(4){
    background-image: url(../img/recomend_shi.jpg);
}
.recomend ul li a{
    display: block;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: relative;
    transition: all 0.5s;
}
.recomend ul li .txt{
    position: absolute;
    top:40px;
    left:25px;
    transition: all 0.3s;
}
.recomend ul li .txt p{
    font-size: 24px;
    font-weight: bold;
}
.recomend ul li .txt span{
    font-size:18px;
}
.recomend ul li .more{
    width:120px;
    height:50px;
    background:url(../img/cursor.png) rgba(0,0,0,0.5) no-repeat right 10px center;
    background-size:20px auto;
    line-height:50px;
    padding-left:16px;
    box-sizing: border-box;
    position: absolute;
    right:0;
    top:60%;
    transform: translateY(-50%);
    font-size:14px;
    transition: all 0.5s;
}

/* hover */
.recomend ul li:hover{
    transform: translate(-20px, -25px);
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
.recomend ul li:hover a{
    background-color:rgba(0,0,0,0.1);
}
.recomend ul li:hover .txt{
    color:#c1d82f
}
.recomend ul li:hover .more{
    background-position:right 2px center;
}


/* .food--------------------------------------------- */
.food{
    width:100%;
    position: relative;
    padding-top:40px;
    box-sizing: border-box;
}
.food h2{
    position: absolute;
    width:1200px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.food ul{
    width:100%;
    height:70%;
    position: absolute;
    left:50%;
    top:50%;
    transform:translateY(-50%); 
    margin-left:-400px;
}
.food ul li{
    float: left;
    width:100%;
    height:100%;
    margin-right:20px;
}
.food ul li a{
    display: block;
    width: 100%;
    height:100%;
    position: relative;
}
.food ul li .img{
    width:100%;
    height: calc(100% - 73px);
    overflow: hidden;
}
.food ul li .img img{
    height:100%;
}

.food ul li .txt{
    background-color:#fff;
    height:146px;
    width:90%;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    padding:15px;
    box-sizing: border-box;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    margin-bottom:20px;
}
.food ul li .txt p{
    font-size:14px;
}
.food ul li .txt p:nth-child(1){
    font-weight:bold;
    font-size:18px;
}
.food ul li .txt p:nth-child(2){
    margin:5px 0;
}
.food ul li .txt p span{
    color:#ffdd21;
    margin-left:8px;
}


.food .slick-list, .food .slick-track{
    height: 100%;
    width:100%;
}

.food .pager{
    position: absolute;
    bottom:20px;
    right:50px;
}
.food .pager button{
    display:inline-block;
    width: 40px;
    height:40px;
    background-color:#959595;
    color:#fff;
    border:none;
    cursor: pointer;
}
.food .pager button.on{
    background-color: #363636;
}


/* .pass-------------------------------------------------------------- */
.pass{
    width: 1200px;
    margin:0 auto;
    padding-top:40px;
    box-sizing: border-box;
}
.pass h2.right{
    box-sizing: border-box;
    padding-top:18px;
}
.pass h2.right:after{
    top:35px;
}

.pass .tabMenu{
    width:100%;
    display:flex;
    justify-content: space-around;
    text-align: center;
    border:1px solid #c1d82f;
    box-sizing: border-box;
    margin-top:20px;
    font-weight: 400;
}
.pass .tabMenu li{
    width:100%;
    border-right:1px solid #c1d82f;
    line-height:30px;
    cursor: pointer;
    font-size:18px;
}
.pass .tabMenu li:last-child{
    border:none;
}
.pass .tabMenu li.on{
    font-weight:bold;
    background-color: #c1d82f;
    color:#fff;
}

.pass .info{
    margin-top:10px;
    font-size:14px;
}
.pass .info p{}
.pass .info p span{
    color:#c1d82f;
    font-weight: bold;
}

.pass .subTab{
    margin-top:20px;
    height:50%;
}
.pass .subTab ul{
    display:none;
    height:100%;
}
.pass .subTab ul.on{
    display:block;
}
.pass .subTab ul:after{
    display: block;
    content: '';
    clear: both;
}
.pass .subTab ul li{
    float: left;
    margin-right:20px;
    width:calc(33.33% - 14px);
    height:100%;
    border:1px solid transparent;
    box-sizing: border-box;
    transition: all 0.5s;
}
.pass .subTab ul li:last-child{
    margin-right:0;
}
.pass .subTab ul li a{
    display: block;
    height:100%;
    width:100%;
}
.pass .subTab ul li .img{
    height:60%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    opacity: 0.5;
    transition: all 1s;
}
.pass .subTab ul li:nth-child(1) .img{
    background-image: url(../img/pass_01.jpg);
}
.pass .subTab ul li:nth-child(2) .img{
    background-image:url(../img/pass_02.jpg);
}
.pass .subTab ul li:nth-child(3) .img{
    background-image:url(../img/pass_03.jpg);
}

.pass .subTab ul li .txt{
    padding:25px 25px 20px 25px;
    background: #fff;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}
.pass .subTab ul li .txt p:nth-child(1){
    font-weight: bold;
    border-bottom:1px solid #c1d82f;
    position: relative;
    padding-bottom:5px;
    box-sizing: border-box;
    margin-bottom:5px;
}
.pass .subTab ul li .txt p:nth-child(1):after{
    display: inline-block;
    content: '+';
    background-color: #c1d82f;
    border-radius:50%;
    color:#fff;
    position: absolute;
    right:0;
    width:20px;
    height:20px;
    text-align: center;
    line-height:20px;
}
.pass .subTab ul li .txt p:not(:first-child){
    font-size:14px;
    line-height:1.8;
}
.pass .subTab ul li .txt span{
    color:#c1d82f;
    font-weight: bold;
}

.pass .tabSpace{
    width:100%;
    height: 100vh;
    position: fixed;
    z-index:100;
    background:rgba(0,0,0,0.7);
    left:0;
    top:0;
    display: none;
}
.pass .tabIn{
    position: absolute;
    width:900px;
    height:80vh;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:#fff;
    padding-bottom:20px;
    box-sizing: border-box;
}

.pass .tabTit{
    display: flex;
    justify-content: space-between;
    padding:0 30px;
    box-sizing:border-box;
    background:#c1d82f;
}
.pass .tabTit p{
    color:#fff;
    line-height:60px;
    font-size:24px;
    font-weight:bold;
}
.pass .tabTit .close{
    width:30px;
    height:30px;
    margin-top:15px;
    cursor: pointer;
}
.pass .tabBox{
    overflow: hidden;
    overflow-y: auto;
    height:calc(100% - 60px);
}
.pass .tabInfo{
    padding:0 30px;
    box-sizing: border-box;
    margin-bottom:50px;
}
.pass .tabInfo>p{
    padding-top:25px;
    font-size:18px;
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom:10px;
}

.pass .tabInfo ul{
    display: flex;
    justify-content: space-between;
}
.pass .tabInfo ul>li{}

.pass .tabInfo ul .tabImg{
    width:280px;
}
.pass .tabInfo ul .tabImg img{
    width:280px;
}

.pass .tabInfo ul .tabTxt{
    width:620px;
    padding-left:30px;
    box-sizing: border-box;
}
.pass .tabInfo ul .tabTxt p{}
.pass .tabInfo ul .tabTxt p:nth-child(1){
    font-size:18px;
    font-weight:400;
    margin-bottom: 16px;
}
.pass .tabInfo ul .tabTxt p:nth-child(n+2){
    line-height:1.6;
    font-size:15px;
}
.pass .tabInfo ul .tabTxt span{
    color:#c1d82f;
    font-weight: bold;
}

.pass .tabInfo ul .tabTxt button{
    width:140px;
    height:40px;
    border:1px solid #c1d82f;
    background:none;
    margin-top:20px;
    margin-right: 18px;
    cursor: pointer;
    transition: all 0.3s;
    font-size:16px;
}

.pass .sights .tabTxt img, .pass .leisure .tabTxt img{
    width:16px;
    height:16px;
    margin-top:6px;
    margin-right:5px;
}
.pass .tabSpace .tabTxt .locate{
    margin-top:10px;
}


/* hover */
.pass .info a:hover{
    text-decoration: underline;
}
.pass .subTab>ul>li:hover .img{
    opacity: 1;
    background-size:110%;
}
.pass .subTab>ul>li:hover{
    border:1px solid #c1d82f81;
    box-sizing: border-box;
}
.pass .tabInfo ul .tabTxt button:hover{
    background:#c1d82f;
    color:#fff;
}


/* footer----------------------------------------------------------------------------------- */
footer{}
.fTop{
    width:100%;
    padding-top:18px;
    box-sizing: border-box;
    height:calc(100% - 309px);
    font-size:30px;
    background:url(../img/footer_img.jpg) no-repeat center bottom;
    background-size:cover;
    position: relative;
}
.fTop p{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    font-size:50px;
    font-weight: bold;
    user-select: none;
}


.notice{
    border-top: 1px solid #c1d82f;
    height:40px;
    line-height:40px;
    justify-content: space-between;
}
.notice .wrap{
    display: flex;
    
}
.notice>p{
    text-align: center;
    width:40px;
    font-weight:bold;
}

.notice .noticeBox{
    width:calc(100% - 80px);
    padding:0 20px;
    overflow: hidden;
    height:30px;
    box-sizing: border-box;
    margin-top:6px;
}
.notice .noticeIn{
    position: relative;
    height:30px;
}
.notice .noticeIn li{}
.notice .noticeIn li a{
    display: flex;
    justify-content: space-between;
    line-height:30px;
}
.notice .noticeIn li a:hover p{
    text-decoration: underline;
}
.notice .noticeIn li a p{}
.notice .noticeIn li a span{}

.notice>p.more{
    width:40px;
    font-size:12px;
    font-weight: 300;
}



.fMid{
    background:#c1d82f;
    padding:17px 0;
}
.fMid ul{
    width:1200px;
    margin:0 auto;
    display: flex;
}
.fMid ul li{
    font-size:13px;
    margin:0 13px;
    line-height:1.7;
}
.fMid ul li.tit{
    font-size:14px;
    font-weight: bold;
    width:100px;
    margin:0;
}
.fMid ul li.fontBold{
    font-weight: bold;
}
.fMid ul li a:hover{
    text-decoration: underline;
}


.fBottom{
    background:#c1d82f;
    border-top:1px solid #fff;
    padding:15px 0;
}
.fBottom .wrap{
    display: flex;
    justify-content: space-between;
}
.fBottom .fLeft{
    font-size:13px;
    line-height:1.7;
}
.fBottom .fLeft span:first-of-type{
    font-weight: 400;
}
.fBottom .fLeft span:after{
    display: inline-block;
    content: '';
    width:1px;
    height:10px;
    background:#959595;
    margin:0 5px;
}
.fBottom .fLeft span:nth-of-type(2):after, .fLeft span:nth-of-type(6):after, .fLeft span:nth-of-type(7):after{
    display: none;
}

.fBottom .fLeft address{
    display: inline-block;
}
.fBottom .fLeft address:after{
    display: inline-block;
    content: '';
    width:1px;
    height:10px;
    background:#959595;
    margin:0 5px;
}
.fBottom .fLeft p{
    margin-top:20px;
    font-weight:400;
}

.fBottom .fRight{
    font-size:0;
}
.fBottom .fRight p{
    font-size:18px;
    margin-bottom:5px;
}
.fBottom .fRight input[type="text"]{
    width:320px;
    height:45px;
    text-indent:7px;
    background:#fff;
    border:none;
}
.fBottom .fRight button{
    height:45px;
    width:50px;
    border:1px solid #fff;
    background:none;
    box-sizing: border-box;
}
.fBottom .fRight button img{
    width:40px;
}
.fBottom .fRight .img{
    display: block;
    margin-top:10px;
}
.fBottom .fRight .img img{
    float: right;
    width:45px;
}


